@keyframes explode {

    0%, 3%, 6%, 9%, 12%, 15%, 18%, 21%, 24%, 27%, 30%, 33%, 100% {
        transform: translateX(0);
    }

    1%, 4%, 7%, 10%, 13%, 16%, 19%, 22%, 25%, 28%, 31% {
        transform: translateX(-10%);
    }

    2%, 5%, 8%, 11%, 14%, 17%, 20%, 23%, 26%, 29%, 32% {
        transform: translateX(10%);
    }

    50%, 70%, 80%, 87% {
        transform-origin: center;
        transform: scale(2)
    }

    65%, 75%, 85% {
        transform: scale(1.5);
    }


}

@keyframes shake {

    0%, 9%, 18%, 27%, 36%, 45%, 54%, 63%, 72%, 81%, 100% {
        transform: translateX(0);
        stroke: var(--orange);
    }

    3%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75% {
        transform: translateX(-10%);
    }

    6%, 15%, 24%, 33%, 42%, 51%, 60%, 69%, 78% {
        transform: translateX(10%);
    }
}

@keyframes offStream {

    0%, 99% {
        display: initial;
    }

    100% {
        display: none;
    }    
}

#stack {
    top: 30%;
    gap: 30px;
    color: var(--black);
}

#stack > ol {
    display: grid;
    justify-content: center;
    gap: 48px;
    width: 70%;
    grid-template-columns: repeat(auto-fit, 125px);
    margin: 0 auto;
}

#stack > h2 {
    cursor: pointer;
    line-height: normal;
}

#stack > h2:hover, #stack > h2:hover + .stack-icon > svg {
    color: var(--orange);
    stroke: var(--orange);
    transition: color 0.3s ease-in, stroke 0.5s 0.3s ease-in-out;
}

#stack > ol li {
    display: grid;
    justify-content: center;
    aspect-ratio: 1 / 1;
    gap: 10px;
    overflow: hidden;
    padding-block: 12px;
    border: 1px solid #d3d7d7;
    border-radius: 5px;
}

.stack-icon, .stack-img {
    width: 64px;
    height: 64px;
    margin: auto;
}
/*
#stack > h2:hover + ol .stack-img,
#stack > ol li:hover .stack-img {
    animation: explode 5s 0.8s ease-in-out infinite;    
}*/

#stack > h2 + ol > li:hover .stack-name {
    animation: offStream 0s 1s ease-in-out forwards;    
}

#stack ol li:hover li .stack-img {
    animation: explode 5s ease-in-out forwards;
}


#stack > h2:hover + ol  li > .stack-name {
    animation: offStream 2s 2.2s forwards;
}

#stack ol li .stack-name {
    max-height: 25px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

#stack ol li:hover .stack-name {
    max-height: 0px;
    transition: max-height 0.4s ease-in;
}

.stack-icon > svg {
    stroke: var(--black);
    transition: all 0.4s ease-in;
}

.stack-icon:hover > svg {
    stroke: var(--orange);
    color: var(--orange);
    transition: all 0.4s ease-out;
}

#stack > h2:hover + .stack-icon > svg,
.stack-icon:hover > svg {
    animation: shake 0.8s 1s ease-in-out infinite;
}

@media all and (max-width: 1240px) {
 
    #stack {
        top: 8%;
        gap: 27px;
    }

    #stack > ol {
        gap: 36px;
        width: calc(100% - 80px);
        grid-template-columns: repeat(auto-fit, 125px);
    }

    #stack > ol li {
        gap: 10px;
        padding: 12px 0;
        border: 1px solid #d3d7d7;
        border-radius: 5px;
    }
}

@media all and (max-width: 720px) {
     
    #stack {
        top: 40px;
    }

    #stack > ol {
        gap: 24px;
        width: calc(100% - 40px);
        grid-template-columns: repeat(auto-fit, 100px);
    }

    #stack > ol li {
        gap: 8px;
        padding: 9px 0;
    }   

    #stack >  ol > li > p {
        display: none;
    }

    .stack-icon {
        width: 48px;
        height: 48px;
    }
}

@media all and (max-width: 375px) {
    
    #stack > ol {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, 80px);
    }
    
    .stack-img {
        width: 42px;
        height: 42px;
    }
}