footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 18px 12px;
    margin: auto;
    border-top: 2px solid var(--black);
    background-color: #FFFFFF;
}

footer > ul {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 90px;
}

footer > ul > li {
    display: inline-block;
}