:root {
	--black: #181E25;
	--orange: #ee640f;
	--green: #008000;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;
	margin: auto;
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	color: var(--black);
	font-size: 62.5%;
}

#root * {
	box-sizing: border-box !important;
}