@font-face {
	font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
	--black: #181E25;
	--orange: #ee640f;
	--green: #008000;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;
	margin: auto;
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	color: var(--black);
	font-size: 62.5%;
}

#root * {
	box-sizing: border-box !important;
}